.cont{
    margin-left: 10px;
}

@media only screen and (max-width: 1468px) {
    .cont{
        margin-left: 20px;
    }
  }

  
  @media only screen and (max-width: 1414px) {
    .cont{
        margin-left: 20px;
    }
  }

  
  @media only screen and (max-width: 1270px) {
    .cont{
        margin-left: 41px;
        margin-right: 21px;
    }
  }